@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&&family=Sedgwick+Ave&display=swap');

* {
    margin: 0px;
    padding: 0px;
    cursor: default;
}

html, body{
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background-color:#666666;
}
header{
    background-color: rgb(20, 13, 13);
    color: aliceblue;
    text-align: center;
    padding: 30px;
}

h1{
    padding: 10px;
    font-variant: small-caps;
    font-family: "Sedgwick Ave", cursive;
    font-size: 10vw;
}

@media screen and (min-width: 700px) {
    h1 {
        font-size: 4.5em;
    }
}

h2{
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    padding: 20px 20px 8px 20px;
}

a{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color:rgb(250, 255, 220);
}

section{
    font-family: "Sriracha", cursive;
    padding: 10vh 30px;
    line-height: 1.8em;
    font-size: 3.45vw;
}

@media (min-width: 650px){
    section{
        font-size: 1.4em;
    }
}

@media (max-width: 540px){
    section{
        font-size: 1.16em;
    }
}

section.normal{
    background-color: white;
    color: rgb(20, 13, 13);
}

section.image{
    color: aliceblue;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section.normal p{
    padding: 17px;
}

section.image p{
    padding: 17px;
    background-color: rgba(20, 13, 13, 0.55);
    border-radius: 8px;
    text-shadow: 2px 2px 2px #333;
    width: fit-content;
}

section#img1{
    background-image: url(cordel_pack/images/background001.jpg);
    box-shadow: inset 8px 8px 15px rgba(0, 0, 0, 0.6);
}

section#img2{
    background-image: url(cordel_pack/images/background002.jpg);
    box-shadow: inset 8px 8px 16px rgba(20, 13, 6, 0.6);
}

footer{
    background-color: rgb(20, 13, 13);
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 18px;
}

@media (max-width: 600px){
    footer{
        font-size: 0.94em;
    }
}